/** @format */

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
  z-index: 9;

  //here's hover property is down there

  & li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
    font-size: 16px;
    
    a {
      margin: 1rem 0px;
      color: black;
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        padding-left: 10px;
        // border-left: 2px solid #3ca0e7;
        transition: all 0.3s ease;
      }
    }
  }
}

.nav {
  min-width: 100%;
  position: sticky;
  top: 0;
  // overflow: hidden;
  text-align: center;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.8)
  );
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.11);

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin: 5px auto;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    text-decoration: none;
    font-family: arvo;
    cursor: pointer;

    a {
      color: black;
      text-decoration: none;
    }

    @media screen and (min-width: 300px) {
      padding: 1px 10px;
    }
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 2;
    z-index: 1;
    display: block;
    min-width: 150px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
  }
}

button {
  width: 10rem;
  border: none;
  background-color: inherit;
  font-size: 16px;
}

img {
  max-height: 65px;
}
